<form action="/productos" method="post" style="margin: 1rem;">
    <label for="titulo">Titulo</label>
    <input type="text" name="titulo" required>
    <label for="precio">Precio</label>
    <input type="number" name="precio" required>
    <label for="thumbnail">Imagen</label>
    <input type="text" name="thumbnail" required>
    <a href="http://localhost:8080/productos" style="margin: 1rem;"><button>Guardar producto</button></a>
</form>
    