<div>
    <h2>Ingrese producto</h2>

<form onsubmit="return addProducto(this) style="margin: 1rem;">
    <label for="titulo">Titulo</label>
    <input type="text" name="titulo" id="titulo" required>
    <label for="precio">Precio</label>
    <input type="number" name="precio" id="precio" required>
    <label for="thumbnail">Imagen</label>
    <input type="text" name="thumbnail" id="thumbnail" required>
    <input type="submit" value="Enviar">
</form>

</div>
    